{
    "singleQuote": true,
    "trailingComma": "all",
    "quoteProps": "as-needed",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "tabWidth": 2,
    "printWidth": 80,
    "semi": true,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css"
  }